{% import "bootstrap/wtf.html" as wtf %}
{% from "_formhelpers.html" import render_field %}
{% extends "sidebar.html" %}

{% block title %}Login{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
      {% for field, errors in form.errors.iteritems() %}
        <div class="alert alert-error">
            {{ form[field].label }}: {{ ', '.join(errors) }}
        </div>
      {% endfor %}
      {{ utils.flashed_messages() }}
      <form action="{{ url_for('auth.login') }}" method="post">
        {{ form.hidden_tag() }}
        <legend>Login to your account</legend>
        {{ wtf.form_field(form.email, class='form-control', placeholder='Enter your email here') }}
        {{ wtf.form_field(form.password, class='form-control', placeholder='Enter your password here') }}
        {{ render_field(form.submit, class='btn btn-success btn-block') }}
      </form>
    <div class="col-md-1"></div>
  </div>
</div>


{% endblock %}
