{% extends "sidebar.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_formhelpers.html" import render_field %}


{% block title %}Register{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
      <legend>Register for an account</legend>
      {{ wtf.form_field(form.email, class='form-control', placeholder='Enter your email here') }}
      {{ wtf.form_field(form.username, class='form-control', placeholder='Enter your username here') }}
      {{ wtf.form_field(form.name, class='form-control', placeholder='Enter your name here') }}
      {{ wtf.form_field(form.password, class='form-control', placeholder='Enter your password here') }}
      {{ render_field(form.submit, class='btn btn-success btn-block') }}
    <div class="col-md-1"></div>
  </div>
</div>
{% endblock %}
