{% extends "sidebar.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_formhelpers.html" import render_field %}


{% block title %}View Recipe{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <h2>Viewing specific recipe</h2>
    <table>
      <li>{{ recipe.name }} - <a href="{{ url_for('recipe.edit_recipe', recipe_id=recipe.id) }}">Edit</a></li>
      <ul>
        {% for step in recipe.steps %}
        <li>
          {{ step.num }} - {{ step.description }}
          <a href="{{ url_for('recipe.edit_step', recipe_step_id=step.id) }}">Edit</a>
        </li>
        {% endfor %}
        <ul>
          {% for ingredient in recipe.quantity %}
          <li>
            <button type="submit" name ="quantity_id" value="{{ ingredient.id }}" class="btn btn-danger">DELETE</button>
            <a href="{{ url_for('recipe.edit_ingredient', quantity_id=ingredient.id) }}">
              <button type="submit" name ="quantity_id" class="btn btn-info">EDIT</button>
            </a>
            {{ ingredient.amount }} {{ ingredient.measurement_obj.name }} {{ ingredient.ingredient_obj.name }}
            <form action="{{ url_for('recipe.delete_ingredient') }}" method="post">
              <input type="hidden" name ="recipe_id" value="{{ recipe.id }}" />
            </form>

          </li>
          {% endfor %}
        </ul>
      </ul>
    </table>
    <div class="col-md-1"></div>
  </div>
</div>
{% endblock %}
