{% extends "sidebar.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_formhelpers.html" import render_field %}

{% block styles %}
  {{ super() }}
  <style>
    .edit_button { display:none; }
    #check_off { display:inline; }
  </style>
  <link rel='stylesheet' href="{{ url_for('static', filename='stylesheets/checkboxes.css') }}" />

{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
  function edit_recipe(){
    var buttons = document.getElementsByClassName('edit_button');
    for(var i = 0; i < buttons.length; i++){
      buttons[i].style.display="inline";
    }

    var checkboxes = document.getElementsByClassName('checkmark');
    for(var i = 0; i < checkboxes.length; i++){
      checkboxes[i].style.display="none";
    }

    document.getElementById('editable').style.display="none";
  }
  </script>
{% endblock %}

{% block title %}View Recipe{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    {{ utils.flashed_messages() }}
    <br>
    <div class="col-md-1"></div>
    <img src="{{ recipe.img_path }}"/>
    <h2>Viewing specific recipe</h2>

    {% if current_user.id == recipe.user_id %}
    <button type="button" onclick="edit_recipe()" id="editable" class="btn btn-info">
      <span class="glyphicon glyphicon-edit"></span> Edit this recipe.
    </button>
    {% endif %}
    <br>
    <table>
        <a href="{{ url_for('recipe.edit_recipe', recipe_id=recipe.id) }}" class='edit_button' style="text-decoration: none;">
          <button type="submit" name ="quantity_id" class="btn btn-info"><span class="glyphicon glyphicon-edit"></span></button>
        </a>
        <h3 style="display: inline;"><b>{{ recipe.name }}</b></h3>

      <ul>
        {% for step in recipe.steps %}
        <label class="container"><b>{{ step.num }}</b> - {{ step.description }}
            <input type="checkbox">
            <span class="checkmark"></span>
          <a href="{{ url_for('recipe.edit_step', recipe_step_id=step.id) }}" class='edit_button' style="display: contents; font-family: Ariel;">
            <button type="submit" name ="quantity_id" class="btn btn-info" style="padding: 5px; padding-bottom: 2px;">
              <span class="glyphicon glyphicon-edit"></span>
            </button>
          </a>
          </label>
        {% endfor %}
      <ul>
    </table>

    <table>
          <h2>Ingredients</h2>
          {% for ingredient in recipe.quantity %}
          <li style="padding-bottom:5px;">
            <a href="{{ url_for('recipe.edit_ingredient', quantity_id=ingredient.id) }}" class='edit_button' style="text-decoration: none;">
              <button type="submit" name ="quantity_id" class="btn btn-info" style="padding: 5px; padding-bottom: 2px;"><span class="glyphicon glyphicon-edit"></span></button>
            </a>
            <form action="{{ url_for('recipe.delete_ingredient') }}" method="post" style='display:inline;margin:0px;padding:0px;'>
              <input type="hidden" name ="recipe_id" value="{{ recipe.id }}" />
              <input type="hidden" name ="quantity_id" value="{{ ingredient.id }}" />
              <button type="submit" name ="submit" value="submit" class="btn btn-danger edit_button" style="padding: 5px; padding-bottom: 2px;"><span class="glyphicon glyphicon-trash"></span></button>
            </form>
            {{ ingredient.amount }} {{ ingredient.measurement_obj.name }} {{ ingredient.ingredient_obj.name }}

          </li>
          {% endfor %}
        </ul>
      </ul>
    </table>
    <div class="col-md-1"></div>
  </div>
</div>
{% endblock %}
