{% extends "sidebar.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_formhelpers.html" import render_field %}


{% block title %}View All Recpies{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    TODO: Make this to only view one of recipes... using all for testing purposes
    <table>
      {% for recipe in all_recipes %}
        <li>
          <a href="{{ url_for('recipe.view', recipe_id=recipe.id) }}">
            <button type="submit" name ="quantity_id" class="btn btn-info">EDIT</button>
          </a>
          <form action="{{ url_for('recipe.delete_recipe') }}" style="display: inline;" method="post">
            <button type="submit" name ="recipe_id" value="{{ recipe.id }}" class="btn btn-danger">DELETE</button>
          </form>
          <h3 style="display: inline;"><b>{{ recipe.name }}</b></h3>
        </li>
        <ul>
          {% for step in recipe.steps %}
          <li><b>{{ step.num }}</b> - {{ step.description }}</li>
          {% endfor %}
          <ul>
            {% for ingredient in recipe.quantity %}
            <li>
              {{ ingredient.amount }} {{ ingredient.measurement_obj.name }} {{ ingredient.ingredient_obj.name }}
              <form action="{{ url_for('recipe.delete_ingredient') }}" method="post">
                <input type="hidden" name ="recipe_id" value="{{ recipe.id }}" />
              </form>
            </li>
            {% endfor %}
          </ul>
        </ul>
      {% endfor %}
    </table>
    <div class="col-md-1"></div>
  </div>
</div>
{% endblock %}
