<!--Nav Bar -->
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_formhelpers.html" import render_field %}

{% import "bootstrap/utils.html" as utils %}


{% block head %}
    {{ super() }}
    <title>{% block title %}{% endblock %}</title>
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Navbar</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">CrockPot</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li><a href="{{ url_for('home.index') }}">Home</a></li>
                  {% if current_user.is_active %}
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    <li><a href="{{ url_for('recipe.add') }}">Add Recipe</a></li>
                    <li><a href="{{ url_for('recipe.view_all') }}">View all Recipes</a></li>
                    <li><a href="{{ url_for('user_mgmt.view') }}">Your profile</a></li>
                    <form action="{{ url_for('search.ingrd') }}" method="post">
                      {{ search_form.hidden_tag() }}
                      <legend>Search </legend>
                      {{ wtf.form_field(search_form.name, class='form-control', placeholder='Search...') }}
                      {{ render_field(search_form.submit, class='btn btn-success btn-block') }}
                    </form>
                  {% else %}
                    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                  {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}

  </body>
</html>
